<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:comment>
            Fork: the allowed-file-types hint is opt-in per element
            (properties.showAllowedFileExtensions) and, when shown, joins the
            aria-describedby token list instead of replacing it - the element
            description, the hint and the error message can all be present.
        </f:comment>
        <f:if condition="{element.properties.showAllowedFileExtensions}">
            <f:variable name="allowedFileExtensions" value="{formvh:allowedFileExtensions(mimeTypes: element.properties.allowedMimeTypes)}"/>
        </f:if>
        <f:variable name="describedBy"><f:if condition="{element.properties.elementDescription}">{element.uniqueIdentifier}-desc </f:if><f:if condition="{allowedFileExtensions}">{element.uniqueIdentifier}-allowed </f:if><f:if condition="{validationResults.errors}">{element.uniqueIdentifier}-errors</f:if></f:variable>
        <f:variable name="describedBy" value="{describedBy -> f:format.trim()}"/>
        <f:if condition="{describedBy}">
            <f:variable name="aria" value="{describedby: '{describedBy}'}"/>
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{describedBy}'}"/>
        </f:if>

        <f:comment>
            Markup contract for frontend/file-upload.js - only emitted for a
            multi-file field, so a single upload keeps its plain markup.
        </f:comment>
        <f:variable name="multiUploadData" value="{}"/>
        <f:variable name="uploadedFileList" value=""/>
        <f:if condition="{element.properties.multiple}">
            <f:variable name="uploadRemoveLabel"><f:translate key="upload.remove" domain="form" default="Remove"/></f:variable>
            <f:variable name="multiUploadData" value="{form-multi-upload: '1', form-multi-upload-list: '{element.uniqueIdentifier}-preview', remove-label: '{uploadRemoveLabel}'}"/>
        </f:if>

        <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
            <formvh:form.uploadedResource
                property="{element.identifier}"
                as="resource"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute}"
                errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                accept="{element.properties.allowedMimeTypes}"
                aria="{aria}"
                multiple="{element.properties.multiple}"
                data="{multiUploadData}"
            >
                <f:comment>
                    UploadedResourceViewHelper emits its children *before* the
                    input tag, but the file list belongs directly after the input
                    (that is also where frontend/file-upload.js appends the pending
                    files). So the markup is captured into a variable here and
                    printed below the ViewHelper instead of in place. Reordering
                    inside the ViewHelper would move the ImageUpload previews too.
                </f:comment>
                <f:variable name="uploadedFileList">
                <f:if condition="{resource}">
                    <f:if condition="{element.properties.multiple}">
                        <f:then>
                            <ul id="{element.uniqueIdentifier}-preview" class="form-element-fileupload-list">
                                <f:for each="{resource}" as="file" iteration="iterator">
                                    <li class="form-element-fileupload-item">
                                        <span class="form-element-fileupload-name">{file.originalResource.originalFile.name}</span>
                                        <f:if condition="{element.properties.allowRemoval}">
                                            <label class="form-element-fileupload-remove">
                                                <formvh:form.uploadDeleteCheckbox
                                                    property="{element.identifier}"
                                                    fileReference="{file}"
                                                    fileIndex="{iterator.index}"
                                                />
                                                <f:translate key="upload.remove" domain="form" default="Remove" />
                                                <span class="visually-hidden">{file.originalResource.originalFile.name}</span>
                                            </label>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </f:then>
                        <f:else>
                            <div id="{element.uniqueIdentifier}-preview" class="form-element-fileupload-preview">
                                <span class="form-element-fileupload-name">{resource.originalResource.originalFile.name}</span>
                                <f:if condition="{element.properties.allowRemoval}">
                                    <label class="form-element-fileupload-remove">
                                        <formvh:form.uploadDeleteCheckbox
                                            property="{element.identifier}"
                                            fileReference="{resource}"
                                            fileIndex="0"
                                        />
                                        <f:translate key="upload.remove" domain="form" default="Remove" />
                                        <span class="visually-hidden">{resource.originalResource.originalFile.name}</span>
                                    </label>
                                </f:if>
                            </div>
                        </f:else>
                    </f:if>
                </f:if>
                </f:variable>
            </formvh:form.uploadedResource>
            {uploadedFileList -> f:format.raw()}
            <f:if condition="{element.properties.multiple}">
                <f:asset.script identifier="form-file-upload" src="EXT:form/Resources/Public/JavaScript/frontend/file-upload.js" defer="defer" />
                <f:asset.css identifier="form-file-upload" href="EXT:form/Resources/Public/Css/file-upload.css" />
            </f:if>
            <f:render partial="Field/AllowedFileExtensions" arguments="{element: element, allowedFileExtensions: allowedFileExtensions}"/>
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
