<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="formeditor-inspector-element">
    <div class="form-group">
        <label class="form-label">
            <span data-template-property="label"></span>
        </label>
        <div class="form-description" data-template-property="description"></div>
        <div data-identifier="translationSummary" class="form-text text-body-secondary"></div>
        <button type="button" class="btn btn-default btn-sm" data-identifier="translationEditButton">
            <span data-template-property="editButtonLabel"></span>
        </button>
    </div>
</div>
</html>
